<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<% if @trainer == current_trainer %>
  <%= button_to "Create New Pokemon", new_pokemon_path, :class => "button medium", :method => :get %>
<% end %>
<% @trainer.pokemons.each do |pokemon| %>
  <h4> <%= pokemon.name %> - Level <%= pokemon.level %> </h4>
  <h5>	Health: <%= pokemon.health %> </h5>
  <% if pokemon != nil %>
    <%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %>
  <% end %>
<% end %>